<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Screen</title>
</head>
<body>
    <h1>Select Screen</h1>
    <form method="post" action="/login">
        <label for="screen">Select Screen:</label>
        <br>
        <input type="radio" name="screen" value="1"> Screen 1
        <input type="radio" name="screen" value="2"> Screen 2
        <input type="radio" name="screen" value="3"> Screen 3
        <input type="radio" name="screen" value="4"> Screen 4
        <input type="radio" name="screen" value="5"> Screen 5
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
